{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}

{% endblock content %}

{% block footer %}
  
  {% include 'includes/footer_fullscreen.html' %}

    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="{% static 'js/core/popper.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/core/bootstrap.min.js' %}" defer></script>
    <!--AJAX-->
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" defer></script>
    <!--My JS-->
    <script src="{% static "chatgpt.js" %}" defer></script>
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}