{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}
Strona główna
{% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}
    Witaj w SzamApp!
{% endblock header %}

{% block content %}

    <a class="btn btn-primary" href="login/">Zaloguj się</a>
    <a class="btn btn-primary" href="step1/">Kontynuuj bez logowania</a>

{% endblock content %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}