{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% endblock header %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Dalej">
    </form>

{% endblock content %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}