{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% endblock header %}

{% block content %}

    <input type="submit" name="offer1" class="btn btn-outline-success" value={{ offer1 }}>
    <input type="submit" name="offer2" class="btn btn-outline-success" value={{ offer2 }}>
    <input type="submit" name="offer3" class="btn btn-outline-success" value={{ offer3 }}>

    {% if user.is_authenticated %}
    <a href="/account" class="btn btn-outline-success"> Konto użytkownika </a>
    {% endif %}

{% endblock content %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}