{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Soft UI Design System by Creative Tim {% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}

    Podaj, co najmniej 2 i maksymalnie 5 składników, które mają pojawić się w daniu.

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Dalej">
    </form>

    {% if user.is_authenticated %}
    <a href="/account" class="btn btn-outline-success"> Konto użytkownika </a>
    {% endif %}

{% endblock content %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}