{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% endblock header %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="btn" value="Do 15 minut">
        <input type="submit" name="btn" value="Do 30 minut">
        <input type="submit" name="btn" value="Do 60 minut">
        <input type="submit" name="btn" value="Do 120 minut">
    </form>
    {{ val }}

    {% if user.is_authenticated %}
    <a href="/account" class="btn btn-outline-success"> Konto użytkownika </a>
    <a href="/logout" class="btn btn-outline-success"> Wyloguj </a>
    {% endif %}

{% endblock content %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

{% endblock javascripts %}